<?xml version="1.0"?>
<config>
    <sections>
        <payment translate="label" module="easycredit">
            <groups>
                <easycredit translate="label">
                    <label>ratenkauf by easyCredit</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>27</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[
<div class="easycredit-intro">
  <img src="https://www.easycredit-ratenkauf.de/download/200x43_Ratenkauf_Logo_mitSubline.png" />
  <div>
    Bieten Sie Ihren Kunden die Möglichkeit der Ratenzahlung mit ratenkauf by easyCredit.<br />
    <strong>Einfach. Fair. In Raten zahlen.</strong>
    <br /><br />
    <a href="https://partner.easycredit-ratenkauf.de/portal/" target="_blank">zum Parterportal</a>
     - <a href="https://www.easycredit-ratenkauf.de/shopsysteme.htm" target="_blank">zum Integration-Center</a>
     - <a href="https://netzkollektiv.com/docs/ratenkaufbyeasycredit-magento1/" target="_blank">zur Dokumentation</a> 
  </div>
</div>
<style>
#payment_easycredit {
  background:#fff;
}
.easycredit-intro {
  padding: 15px 0;
}
.easycredit-intro img {
  display:inline-block; 
  padding:15px; 
  width:170px;
}
.easycredit-intro div {
  display:inline-block;
}
</style>

                    ]]></comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <active_when_unavailable translate="label comment">
                            <label>Show reason, if not available</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Show customers the reason if ratenkauf by easyCredit is unavailable</comment>
                        </active_when_unavailable>
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>49</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <heading_behavior translate="label">
                            <label>Behavior</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_behavior>
                        <save_customer_prefix translate="label comment">
                            <label>Save customer prefix</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[ratenkauf by easyCredit asks the user to select a prefix, if not already entered. Should this prefix be saved in the customer account?]]></comment>
                        </save_customer_prefix>
                        <remove_interest translate="label comment">
                            <label>Remove interest after order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If activated, easyCredit Ratenkauf interest rates will be not be included in order and order documents after order.]]></comment>
                        </remove_interest>
                        <debug_logging translate="label comment">
                            <label>Debug Logging</label>
                            <comment><![CDATA[If active, API call details will be saved to var/log/easycredit.log]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_logging>
                        <heading_credentials translate="label">
                            <label>Credentials</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_credentials>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                        <api_token translate="label">
                            <label>API Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>111</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_token>
                        <api_wizard translate="button_label">
                            <button_label>Verify Credentials with easyCredit</button_label>
                            <button_url><![CDATA[/easycredit/credentials/verify]]></button_url>
                            <frontend_model>easycredit/adminhtml_system_config_apiWizard</frontend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </api_wizard>
                        <heading_marketing translate="label">
                            <label>Marketing</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_marketing>
                        <widget_enabled translate="label comment">
                            <label>Show widget next to product price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>131</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Specifies if ratenkauf by easyCredit will be advertised in product detail view]]></comment>
                        </widget_enabled>
                        <heading_clickandcollect translate="label">
                            <label><![CDATA[Click & Collect]]></label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_clickandcollect>
                        <clickandcollect_intro translate="button_label">
                            <label>cncintro</label>
                            <frontend_model>easycredit/adminhtml_system_config_clickAndCollectIntro</frontend_model>
                            <sort_order>141</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </clickandcollect_intro>
                        <clickandcollect_shipping_method translate="label">
                            <label>Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allmethods</source_model>
                            <sort_order>142</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </clickandcollect_shipping_method>
                    </fields>
                </easycredit>
            </groups>
        </payment>
    </sections>
</config>
