<?xml version="1.0"?>
<config>
    <modules>
        <Netzkollektiv_EasyCredit>
            <version>1.0.6.1</version>
        </Netzkollektiv_EasyCredit>
    </modules>
    <global>
        <models>
            <easycredit>
                <class>Netzkollektiv_EasyCredit_Model</class>
            </easycredit>
        </models>
        <helpers>
            <easycredit>
                <class>Netzkollektiv_EasyCredit_Helper</class>
            </easycredit>
        </helpers>
        <resources>
            <easycredit_setup>
                <setup>
                    <module>Netzkollektiv_EasyCredit</module>
                </setup>
            </easycredit_setup>
        </resources>
        <blocks>
            <easycredit>
                <class>Netzkollektiv_EasyCredit_Block</class>
            </easycredit>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <easycredit>
                        <class>easycredit/sales_quote_address_total_fee</class>
                        <after>subtotal,discount,shipping</after>
                        <before>tax,grand_total</before>
                        <renderer>easycredit/checkout_totals_fee</renderer>
                        <admin_renderer>easycredit/adminhtml_sales_order_create_totals_fee</admin_renderer>
                    </easycredit>
                </totals>
                <item>
                    <product_attributes>
                        <easycredit_risk/>
                    </product_attributes>
                </item>
            </quote>
            <order_invoice>
                <totals>
                    <easycredit>
                        <class>easycredit/sales_order_total_invoice_fee</class>
                    </easycredit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <easycredit>
                        <class>easycredit/sales_order_total_creditmemo_fee</class>
                    </easycredit>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <easycredit_sales_quote_payment_import_data_before>
                        <type>singleton</type>
                        <class>easycredit/observer</class>
                        <method>importCustomerPrefix</method>
                    </easycredit_sales_quote_payment_import_data_before>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>easycredit/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>easycredit/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_place_before>
                <observers>
                    <sales_order_place_before>
                        <class>easycredit/observer</class>
                        <method>setNewOrderState</method>
                    </sales_order_place_before>
                    <sales_order_place_before_save_customer_prefix>
                        <class>easycredit/observer</class>
                        <method>saveCustomerPrefix</method>
                    </sales_order_place_before_save_customer_prefix>
                </observers>
            </sales_order_place_before>
            <sales_order_shipment_save_after>
                <observers>
                    <sales_order_shipment_save_after>
                        <class>easycredit/observer</class>
                        <method>reportShipment</method>
                    </sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <easycredit_amount>
                    <to_order>*</to_order>
                </easycredit_amount>
                <base_easycredit_amount>
                    <to_order>*</to_order>
                </base_easycredit_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <easycredit translate="title">
                    <title>Fee</title>
                    <source_field>easycredit_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </easycredit>
            </totals>
        </pdf>
        <resources>
            <easycredit_setup>
                <setup>
                    <module>Netzkollektiv_EasyCredit</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easycredit_setup>
        </resources>
    </global>

    <frontend>
        <secure_url>
            <easycredit_review>/easycredit</easycredit_review>
        </secure_url>
        <routers>
            <easycredit>
                <use>standard</use>
                <args>
                    <module>Netzkollektiv_EasyCredit</module>
                    <frontName>easycredit</frontName>
                </args>
            </easycredit>
        </routers>
        <layout>
            <updates>
                <easycredit>
                    <file>easycredit.xml</file>
                </easycredit>
            </updates>
        </layout>
        <translate>
            <modules>
                <Netzkollektiv_EasyCredit>
                    <files>
                        <default>Netzkollektiv_EasyCredit.csv</default>
                    </files>
                </Netzkollektiv_EasyCredit>
            </modules>
        </translate>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <easycredit>
                        <class>easycredit/observer</class>
                        <method>expirePayment</method>
                    </easycredit>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Netzkollektiv_EasyCredit>
                    <files>
                        <default>Netzkollektiv_EasyCredit.csv</default>
                    </files>
                </Netzkollektiv_EasyCredit>
            </modules>
        </translate>
        <layout>
            <updates>
                <easycredit>
                    <file>easycredit.xml</file>
                </easycredit>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <payment>
            <easycredit>
                <active>1</active>
                <title>Ratenkauf by easyCredit</title>
                <model>easycredit/payment</model>
                <order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <payment_action>authorize_capture</payment_action>
                <debug_logging>0</debug_logging>
                <order_status>pending</order_status>
                <report_shipment>0</report_shipment>
                <widget_enabled>1</widget_enabled>
                <save_customer_prefix>0</save_customer_prefix>
            </easycredit>
        </payment>
        <sales>
            <totals_sort>
                <easycredit>45</easycredit>
            </totals_sort>
        </sales>
    </default>
</config>
